html.app-entry-point, body.app-entry-point {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body.admin-page {
  padding: 10px;
}

@media (max-width: 575px) {
  header {
    padding: 10px;
    height: 50px;
  }
}

@media (min-width: 575px) {
  header {
    padding: 10px;
    height: 30px;
  }
}

.admin-page button,
header button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
 outline: 0;
  padding: 0 8px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0,0,0,0.1);
}

.admin-page input[type="number"],
.admin-page input[type="text"],
.admin-page input[type="email"],
header input[type="text"] {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.admin-page select,
header select {
  background: transparent;
  border: 1px solid #ccc;
  height: 28px;
  overflow: hidden;
  width: 100px;
}

main, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

#full-screen-notification-container {
  background: rgba(0,0,0,0.6);
  height:100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

#notification-contents {
  background: white;
  border-radius: 15px;
  box-shadow: 5px 10px 25px 28px rgba(46,46,46,1);
  height: 40%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 15px;
  width: 40%;
}

.notification-close-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}